<div class="col-md-4 card available" id="card-{{id}}">
	{{#if name}}
		<div class="col-md-8 name"><strong>{{name}}</strong></div>
		<div class="col-md-4">{{cost}} <i class="fa fa-money"></i></div>
		<div class="col-md-8 description">{{{description}}}</div>
		<div class="col-md-4">{{value}} <i class="fa fa-heart"></i></div>
	{{else}}
		<div class="col-md-12 name"><strong>Unknown Card</strong></div>
		<div class="col-md-12 description">[???]</div>
	{{/if}}
</div>
					