<div class="col-md-4 card available" id="card-{{id}}">
	<div class="col-md-8 name"><strong>{{name}}</strong></div>
	<div class="col-md-4">{{cost}} <i class="fa fa-money"></i></div>
	<div class="col-md-8 description">{{{description}}}</div>
	<div class="col-md-4">{{value}} <i class="fa fa-heart"></i></div>
	{{#isMe currentUserId}}
	<div class="col-md-12 buyCardRoot"><button type="button" class="btn btn-success buyCard" id="buy-card-{{id}}" card="{{id}}">Buy Card</button></div>
	{{/isMe}}	
</div>
					