<div class="panel panel-info player {{#eq id currentPlayerId}}current{{/eq}}" id="player-{{id}}">
	<div class="panel-heading">
		<h5>Player {{id}} <i class="fa fa-user"></i>, {{money}} <i class="fa fa-money"></i></h5>
		<h6>
			<span class="zone-details zone-details-hand player-{{id}}" data-toggle="tooltip" title="Cards in Hand">
				{{hand.length}} <i class="fa fa-clone"></i>
			</span>
			
			<span class="zone-details zone-details-played player-{{id}}" data-toggle="tooltip" title="Played this turn">
				{{played.length}} <span class="fa-stack">
				  <i class="fa fa-square-o fa-stack-2x"></i>
				  <i class="fa fa-clone fa-stack-1x"></i>
				</span>
			</span>
			
			<span class="zone-details zone-details-deck player-{{id}}" data-toggle="tooltip" title="Remaining in Deck">
				{{deck.length}} <span class="fa-stack">
				  <i class="fa fa-square-o fa-stack-2x"></i>
				  <i class="fa fa-clone fa-stack-1x"></i>
				</span>
			</span>
			
			<span class="zone-details zone-details-discard player-{{id}}" data-toggle="tooltip" title="Discard Pile Count">
				{{discard.length}} <span class="fa-stack">
				  <i class="fa fa-square-o fa-stack-2x"></i>
				  <i class="fa fa-trash fa-stack-1x"></i>
				</span>
			</span>
		</h6>
	</div>
	{{#isMe currentUserId}}
		<div class="panel-body hand">
			{{#each hand}}
				{{> playerHandCard playerId=../id currentPlayerId=../currentPlayerId currentUserId=../currentUserId }}
			{{/each}}
		</div>
	{{/isMe}}
</div>
<!--x-id="player-{{id}}"-->

