<div class="centered">
	{{#each games}}
		<div class="row">
		    <button type="button" class="btn btn-default gameButton" onclick="getGameById('{{id}}')">Game : {{#if name}}{{{name}}}{{else}}({{id}}){{/if}}</button>
		</div>
	{{else}}
		<div class="row">
		    No Pending Games
		</div>
	{{/each}}
	
	<div class="row">
		<button type="button" class="btn btn-primary gameButton" onclick="newSoloGame()">Local Solo Game</button>    
	</div>
	
	<div class="row">
		<button type="button" class="btn btn-primary gameButton" onclick="newGame()">New Game</button>    
	</div>
</div>
