{{#if announcement}}
<div class="alert {{#if announcementType}}alert-{{announcementType}}{{else}}alert-success{{/if}} announcement">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{{announcement}}}
</div>
{{/if}}
<div class="panel panel-success">
	<div class="panel-heading">
		<h4>Current Player {{currentPlayer.id}} <i class="fa fa-user"></i>, {{currentPlayer.money}} <i class="fa fa-money"></i>, <span data-toggle="tooltip" title="Cards in Hand">{{currentPlayer.hand.length}} <i class="fa fa-clone"></i></span></h4>	
		<div class="centered">
			<button type="button" class="btn btn-info playAll" player="{{currentPlayer.id}}">Play All</button>
		</div>
		<div class="centered">
			<button type="button" class="btn btn-danger endTurn" player="{{currentPlayer.id}}">End Turn</button>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-info availableCards">
			<div class="panel-heading">
				Available Cards
			</div>
			<div class="panel-body">
				{{#each available}}
				<div class="col-sm-3 card available" id="card-{{id}}">
					<div class="col-md-8"><strong>{{name}}</strong></div>
					<div class="col-md-4">{{cost}} <i class="fa fa-money"></i></div>
					<div class="col-md-8">{{description}}</div>
					<div class="col-md-4">{{value}} <i class="fa fa-heart"></i></div>
					<div class="col-md-12"><button type="button" class="btn btn-success buyCard" id="buy-card-{{id}}" card="{{id}}">Buy Card</button></div>
				</div>
				<!-- x-id="card-{{id}}" -->
				{{else}}
				<div class="col-sm-3 card">
					No Cards Available
				</div>
				{{/each}}
			</div>
		</div>
		<!--x-availableCards-->
		
		<div class="panel panel-info staticCards">
			<div class="panel-heading">
				Static Cards
			</div>
			<div class="panel-body">
			{{#each staticCards}}
				{{#each this}}
					{{#if @first}}
					<div class="col-sm-3 card available" id="card-{{id}}">
						<div class="col-md-8"><strong>{{name}}</strong> <span class="badge">{{../../this.length}}</span></div>
						<div class="col-md-4">{{cost}} <i class="fa fa-money"></i></div>
						<div class="col-md-8">{{description}}</div>
						<div class="col-md-4">{{value}} <i class="fa fa-heart"></i></div>
						<div class="col-md-12"><button type="button" class="btn btn-success buyCard" id="buy-card-{{id}}" card="{{id}}">Buy Card</button></div>
					</div>
					<!-- x-id="card-{{id}}" -->
					{{else}}
						<!--skipped card-{{id}} {{name}}-->
					{{/if}}
				{{/each}}		
			{{/each}}
			</div>
		</div>
		{{#each players}}
		<div class="panel panel-info player {{#eq id ../currentPlayer.id}}current{{/eq}}" id="player-{{id}}">
			<div class="panel-heading">
				<h5>Player {{id}} <i class="fa fa-user"></i>, {{money}} <i class="fa fa-money"></i></h5>
				<h6>
					<span class="zone-details zone-details-hand" data-toggle="tooltip" title="Cards in Hand">
						{{hand.length}} <i class="fa fa-clone"></i>
					</span>
					
					<span class="zone-details zone-details-played" data-toggle="tooltip" title="Played this turn">
						{{played.length}} <span class="fa-stack">
						  <i class="fa fa-square-o fa-stack-2x"></i>
						  <i class="fa fa-clone fa-stack-1x"></i>
						</span>
					</span>
					
					<span class="zone-details zone-details-deck" data-toggle="tooltip" title="Remaining in Deck">
						{{deck.length}} <span class="fa-stack">
						  <i class="fa fa-square-o fa-stack-2x"></i>
						  <i class="fa fa-clone fa-stack-1x"></i>
						</span>
					</span>
					
					<span class="zone-details zone-details-discard" data-toggle="tooltip" title="Discard Pile Count">
						{{discard.length}} <span class="fa-stack">
						  <i class="fa fa-square-o fa-stack-2x"></i>
						  <i class="fa fa-trash fa-stack-1x"></i>
						</span>
					</span>
				</h6>
			</div>
			<div class="panel-body hand">
				{{#each hand}}
				<div class="col-sm-3 card available" id="card-{{id}}">
					<div class="col-sm-8"><strong>{{name}}</strong></div>
					<div class="col-sm-4">{{cost}} <i class="fa fa-money"></i></div>
					<div class="col-sm-8">{{description}}</div>
					<div class="col-sm-4">{{value}} <i class="fa fa-heart"></i></div>
					{{#eq ../id ../../currentPlayer.id}}
					<div class="col-md-12">
						<button type="button" class="btn btn-success playCard" card="{{id}}">Play Card</button>
					</div>
					{{/eq}}
				</div>
				<!-- x-id="card-{{id}}" -->
				{{/each}}
				{{#eq id ../currentPlayer.id}}
				<div class="centered">
					<button type="button" class="btn btn-info playAll" player="{{id}}">Play All</button>
				</div>
				<div class="centered">
					<button type="button" class="btn btn-danger endTurn" player="{{id}}">End Turn</button>
				</div>
				{{/eq}}
			</div>
		</div>
		<!--x-id="player-{{id}}"-->
		{{else}}
		<h1>No players</h1>
		{{/each}}
		<button class="btn btn-primary showHistory" type="button" data-toggle="collapse" data-target="#collapseAudit" aria-expanded="false" aria-controls="collapseAudit">
		History <span class="badge">{{audit.length}}</span>
		</button>
		<div class="collapse" id="collapseAudit">
			<div class="well">
				{{#each audit}}
				<div class="row audit">
					{{{this}}}
				</div>
				{{else}}
				<div class="row audit">
					No Audit
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
