{{#if announcement}}
<div class="alert {{#if announcementType}}alert-{{announcementType}}{{else}}alert-success{{/if}} announcement">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{{announcement}}}
</div>
{{/if}}
<div class="panel panel-success">
	<div class="panel-heading">
		<h4>Current Player {{currentPlayer.id}} {{#isMe currentPlayer.userId}}(You){{/isMe}} <i class="fa fa-user"></i>, {{currentPlayer.money}} <i class="fa fa-money"></i>, <span data-toggle="tooltip" title="Cards in Hand">{{currentPlayer.hand.length}} <i class="fa fa-clone"></i></span></h4>	
		{{#isMe currentPlayer.userId}}
			<div class="centered">
				<button type="button" class="btn btn-info playAll" player="{{currentPlayer.id}}">Play All</button>
			</div>
			<div class="centered">
				<button type="button" class="btn btn-danger endTurn" player="{{currentPlayer.id}}">End Turn</button>
			</div>
		{{/isMe}}
	</div>
	<div class="panel-body">
		<div class = "col-md-12">
			{{#each players}}
				{{#eq id ../currentPlayer.id}}
					{{> player currentPlayerId=../../currentPlayer.id currentUserId=../../currentPlayer.userId}}
				{{/eq}}
			{{/each}}
		</div>
		<div class = "col-md-6">
			<div class="panel panel-info availableCards">
				<div class="panel-heading">
					Available Cards
				</div>
				<div class="panel-body">
					{{#each available}}
						{{> buyCard currentUserId=../currentPlayer.userId}}
					{{else}}
					<div class="col-sm-3 card">
						No Cards Available
					</div>
					{{/each}}
				</div>
			</div>
		</div>
		<!--x-availableCards-->
		
		<div class = "col-md-6">
			<div class="panel panel-info staticCards">
				<div class="panel-heading">
					Static Cards
				</div>
				<div class="panel-body">
				{{#each staticCards}}
					{{> renderMulticard currentUserId=../currentPlayer.userId}}		
				{{/each}}
				</div>
			</div>
		</div>
		<div class = "col-md-12">
			{{#each players}}
				{{#eq id ../currentPlayer.id}}
					<!-- ignore {{id}} -->
				{{else}}
					{{> player currentPlayerId=../../currentPlayer.id currentUserId=../../currentPlayer.userId}}
				{{/eq}}
			{{else}}
				<h1>No players</h1>
			{{/each}}
		</div>
		
		<button class="btn btn-primary showHistory" type="button" data-toggle="collapse" data-target="#collapseAudit" aria-expanded="false" aria-controls="collapseAudit">
		History <span class="badge">{{auditCount}}</span>
		</button>
		<div class="collapse" id="collapseAudit">
			<div class="well audit">
				Loading . . . 
			</div>
		</div>
	</div>
</div>
